<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>My profile</title>
</head>
<body>
    <h1>Welcome to recipes!</h1>
    <h2 th:text="'This is Chief ' +${username}+' Profile'"></h2>
    <form th:action = "@{/addRecipe/{id}(id=${id})}" method="GET" >
        <h3> Do you have a new recipe?</h3>
        <h3>Share it with us!</h3>
        <input type="submit" value="Add recipe">
    </form>



    <ul th:each="recipe: ${recipes}">
        <p th:text="${recipe.textContent}"> </p>
        <p>--------------------------</p>
    </ul>
    <form action="/logout" method="POST">
        <input type="submit" value="Log Out">
    </form>


</body>
</html>