<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h1>Welcome Chief!</h1>
<h2>Please Login</h2>
<form action="/login" method="POST">
    <label for="username">Username</label>
    <input type="text" name="username">
    <label for="password">Password</label>
    <input type="password" name="password">

    <input type="submit" value="Login">
</form>

<form action="/signup" method="GET">
    <h2>Don't have an account?</h2>
    <button type="submit">Sign up</button>
</form>

</body>
</html>